#modal {
  display: none;
}

#close {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 5px;
  cursor: pointer;
}

#close:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.black-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  padding: 30px;
}
.white-bg {
  background: white;
  border-radius: 5px;
  padding: 30px;
}

.main-bg {
  padding: 100px 20px;
  background: lightgrey;
}

.label-container {
  display: flex;
  justify-content: space-between;
}

#dark-btn {
  cursor: pointer;
}
